* {
    font-family: 'Lato', sans-serif;
}

nav {
    color: #de0a31;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-top: -0.5%;
    width: 100%;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

nav>img {
    width: 5%;
    cursor: pointer;
    margin-bottom: 1.5%
}
nav>h1{
    font-size: 24px;
}
nav>h1 p{
    font-size: small;
}
/* menu part */
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}
.menu>p{
    color: #de0a31;
    cursor: pointer;
}
#menuu{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
/* container  dashboard*/ 
/* #dashboard{
    display: none;
} */
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width: 70%;
    margin: auto;
    text-align: center;
}
#container>div{
    margin: 1rem 0 0 0;
}
#container>div>img{
    width: 30%;
}
#container>div>h4{
    color: #004f71;
}
#container>div>h4+p{
    color: gray;
    font-size: small;
}
#container>div>h2+p+p{
    color: black;
    font-size: x-large;
}

#info-products{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#info-products>p:nth-child(1){
    font-size: large;
    color: #004f71;
}
#info-products>p:nth-child(2){
    font-size: large;
    color: #de0a31;
}
/* add product */
form{
    margin-top: 3rem;
    text-align: center;
}
form>input{
    border-radius: 5px;
    border: 1px solid gray;
    width: 400px;
    height: 5vh;
}
input[type="submit"]{
    background-color: #de0a31;
    border: none;
    color: white;
    font-size: medium;
}
