* {
    font-family: 'Lato', sans-serif;
}

nav {
    color: #de0a31;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    margin-top: -0.5%;
    width: 100%;
    height: 90px;
    background-color: #fff;
}

nav>img {
    width: 5%;
    cursor: pointer;
    margin-bottom: 2%
}

#main {
    text-align: center;
}

#main>h1 {
    color: #004f71;
    font-size: 3rem;
}

#main>p {
    color: gray;
}

/* Center the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    width: 400px;
    height: 5vh;
}

/* Style the Register button */
input[type="submit"] {
    background-color: #de0a31;
    color: white;
    padding: 10px 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #be092a;
}

a {
    text-decoration: none;
    color: #de0a31;
}

/* if user exists */

#user-info {
    margin-top: 5%;
    text-align: center;
}

#user-info>h1 {
    color: #004f71;
}

#user-info>p {
    color: gray;
}

#logout-btn {
    border: none;
    background-color: #de0a31;
    color: white;
    height: 45px;
    padding: 0.6rem;
    border-radius: 20px;
    cursor: pointer;
}

/* Style for the message card */
.message-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    z-index: 1000;
    max-width: 300px;
}

/* Style for the message text inside the card */
#message-text {
    font-size: 18px;
    color: #333333;
}

/* Close button (optional) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #777777;
}
.close-button:hover {
    color: #ff0000; /* Change the color on hover */
}

/* btm */

#btm-top{
    margin-top: 5%;
}
#btm-top>img{
    width: 100%;
}
#btm{
    margin-top: 2%;
}
#btm-texts,
#btm-text {
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#btm-texts>a {
    text-decoration: none;
    color: #de0a31;
}
#btm-text{
    margin-top: 0.5%;
}
#btm-text>a {
    text-decoration: none;
    color: gray;
    font-size: 12px;
}